@font-face {
    font-family: 'komikazoomregular';
    src: url('fonts/kamikzom-webfont.woff2') format('woff2'),
         url('fonts/kamikzom-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
html {
	scroll-behavior: smooth;
}
body {
	font-family: century gothic;
}
p {
	line-height: 39px;
	text-align: justify;
}
h1, h2, h3 {
	font-family: komikazoomregular;
	
}
h1 {
	font-size: 97px;
}
ul {
	margin-top: 25px;
	margin-bottom: 40px;
	list-style-image: url('images/bullet.png');
}
li {
	margin-bottom: 27px;
}
.wrapper {
	max-width: 930px;
	min-width: 440px;
	margin: auto;
	padding-left:220px;
	/*margin-left: 300px;
	margin-right: 300px;*/
}
.header {
	background-image: url("images/raise-hand.png");
	background-repeat: no-repeat;
	background-position: right;
	height: 375px;
	background-size: 375px;
	margin-top: 170px;
	margin-bottom: 130px;
}
.header h1 {
	width: 450px;
	margin-bottom: 0px;
}
.header p {
	font-style: italic;
	margin-top: 0px;
	color: #777;
}
.navigation {
	position: fixed;
	top: 50%;
	margin-top: -220px;
	border-left: 4px solid #eb4162;
}
.navigation ul {
	list-style: none;
	font-size: 14px;
	padding-left: 8px;
	border-left: 4px solid #34dad5;
	/*border-bottom: 4px solid #eb4162;
	background-color: #eb4162;*/
	max-width: 190px;
	margin-top: -3px;
	margin-bottom: 3px;
	
}
.navigation ul li:last-of-type {
	margin-bottom: 0;
}
.navigation a {
	text-decoration: none;
	font-weight: bold;
	color:#ababab;	
}
.navigation a:hover {
	color: #000;
}
.block {
	margin-bottom: 90px;
	margin-top: 35px;
	overflow: hidden;
	/*border-bottom: 1px solid black;
	padding: 333px;*/
}
.tokleft, .tokright {
	margin-left: 65px;
	margin-right: 65px;
	border-top: 4px solid #34dad5;
	border-bottom: 4px solid #eb4162;
}
.tiktok-embed {
	min-height: 725px;
	max-width: 325px;
}
.txtcontleft, .txtcontright {
	max-width: 425px;
	font-size: 14px;
}
.txtcontleft p, .txtcontright p {
	line-height: 32px;
}
.txtcontleft {
	float: left;
	padding-right: 50px;
}
.txtcontright {
	float: right;
	padding-left: 50px;
}
.zitat {
	margin: 50px;
	font-style: italic;
	color: #777;
}
.credits p {
	text-align: left;
	line-height: 28px;
	margin-bottom: 24px;
}